<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Flash Master</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.png')}}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/apple-touch-icon.png')}}">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="{{ url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{{ url_for('static',filename='css/responsive.css')}}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{{ url_for('static',filename='css/colors.css')}}" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="{{ url_for('static',filename='css/version/tech.css')}}" rel="stylesheet">

    <!-- Version My Style for this template -->
    <link href="{{ url_for('static',filename='css/version/mystyle.css')}}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5211930068470116"
     crossorigin="anonymous"></script>

</head>

<body>

    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index')}}"><img src="{{ url_for('static',filename='images/version/tech-logo.png')}}" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('index')}}">Home</a>
                            </li>
                            
                            <li class="nav-item">
                            </li>                   
                            
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('ContactUs')}}">Contact Us</a>
                            </li> -->
                        </ul>
                        <ul class="navbar-nav mr-2">
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->

        <section class="section first-section">



            <img src="{{ url_for('static',filename='images/banner-dec-right.png')}}" alt="" 
                    class="background_head"> 
            <img src="{{ url_for('static',filename='images/banner-right-image.png')}}" 
                alt="" style="position: absolute; right: 0% ; max-width: 50%; top: 5%; size: 15%;">
                
                
                    <h2 class="Banner_text">Revolutionize your study routine with our AI-powered flashcard 
                        tool. 
                        Effortlessly create 
                        personalized flashcards for efficient studying</h2>
            

            <div class="container-fluid">
                <div class="masonry-blog clearfix">
                    <!-- end first-side -->

                    <!-- end second-side -->
                </div><!-- end masonry -->
            </div>
            
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <!-- end blog-top -->

                            <div class="blog-list clearfix">
                                <hr class="invis">

                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <img src="{{ url_for('static',filename='upload/banner_02.jpg')}}" alt="" class="img-fluid">
                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>
                                <!-- end row -->

                                <hr class="invis">
                            <form class="card-form" action="{{ url_for('home')}}" method="POST" enctype="multipart/form-data">
                                <!-- Text input start -->
                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <p class="row_text"> input your text </p>
                                            <textarea type="text" id="mytextbox" name="mytextbox5"></textarea>
                                            <button class="button1" onclick="performPost()" id="btn_txt" type="submit">Submit Text</button>
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>
                                <!-- Text input end -->

                                <hr class="invis">

                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <img src="{{ url_for('static',filename='upload/banner_02.jpg')}}" alt="" class="img-fluid">
                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>

                                <hr class="invis">
                                
                                <!-- File input start -->
                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <p class="row_text"> Upload your PDF file </p>
                                            <div class="file_border"> 
                                                  <input type="file" id="myfile" name="myfile" accept=".pdf"> 
                                                </div>
                                                <button class="button2" id="btn_pdf" type="submit">Submit PDF file</button>
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>
                                <!-- File input end -->

                                <hr class="invis">


                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <img src="{{ url_for('static',filename='upload/banner_02.jpg')}}" alt="" class="img-fluid">
                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>

                                <hr class="invis">

                                <!-- Output start -->
                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <p class="row_text"> Your Output </p>
                                            <textarea id="myoutput" name="myoutput"></textarea>

                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>
                                <!-- Output end -->

                                <p id="ques_list" hidden>{{ques_list}}</p>
                                <p id="ans_list" hidden>{{ans_list}}</p>
                            </form>


                                <hr class="invis">


                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <img src="{{ url_for('static',filename='upload/banner_02.jpg')}}" alt="" class="img-fluid">
                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>

                                
                                <hr class="invis">

                                <!-- Flash Card start -->
                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">

                                                <picture>  
                                                        <img class="card_back" src="{{ url_for('static',filename='images/card_back.jpg')}}" style="width:100%;">  
                                                    </picture>  
                                                      <!-- <h1 class="cards_label"> Your Cards</h1>  -->
                                                      <p class="cards_details">Number Of Cards : <span id="cards_no">1</span> </p> 
                                                      <div id="flashcard"> 
                                                          <div id="front"> 
                                                              <p class="front_back_text">Front Side (Question)</p> 
                                                          </div> 
                                                          <div id="back"> 
                                                              <p class="front_back_text">Back Side (Answer)</p> 
                                                          </div> 
                                                      </div> 
                                                      <button class="butt" id="prev">Previous</button> 
                                                      <button class="butt" id="next">Next</button> 

                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>
                                <!-- Flash Card end -->

                                
                                <hr class="invis">


                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <img src="{{ url_for('static',filename='upload/banner_02.jpg')}}" alt="" class="img-fluid">
                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>

                            </div>
                        </div>

                        

                        
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="{{ url_for('static',filename='upload/banner_07.jpg')}}" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div>

                            

                            

                            <!-- end widget -->

                            <!-- <div class="widget">
                                <h2 class="widget-title">Follow Us</h2>

                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button facebook-button">
                                            <i class="fa fa-facebook"></i>
                                            <p>27k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button twitter-button">
                                            <i class="fa fa-twitter"></i>
                                            <p>98k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button google-button">
                                            <i class="fa fa-google-plus"></i>
                                            <p>17k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button youtube-button">
                                            <i class="fa fa-youtube"></i>
                                            <p>22k</p>
                                        </a>
                                    </div>
                                </div>
                            </div>end widget -->

                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">

                                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5211930068470116"
                                            crossorigin="anonymous"></script>
                                        <!-- sqr_01 -->
                                        <ins class="adsbygoogle"
                                                style="display:block"
                                                data-ad-client="ca-pub-5211930068470116"
                                                data-ad-slot="6923521443"
                                                data-ad-format="auto"
                                                data-full-width-responsive="true"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>


                                        <img src="{{ url_for('static',filename='upload/banner_03.jpg')}}" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="{{ url_for('index')}}"><img src="{{ url_for('static',filename='images/version/tech-footer-logo.png')}}" alt="" class="img-fluid"></a>
                                <p> </p>
                                <div class="social">
                                    <!-- <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a> -->
                                </div>

                                <hr class="invis">

                                <!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <!-- <li><a href="{{ url_for('ContactUs')}}">Contact Us</a></li> -->
                                    
                                    
                                    
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">© FlashMaster. Design: <a href="#">MahmoudAlabsi</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop" style="bottom: -100px;"></div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/tether.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/custom.js')}}"></script>
    <script src="{{ url_for('static',filename='js/myscript.js')}}"></script>





</body>

</html>

